* {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to bottom, #f8d6e9, #fde0f2, #f7d7ea, #ffe3f4, #ffeff9);
}

.tamaño-logo {
  height: 5rem;
}



#instagram-grid{
  display: flex;
  justify-content: center;
}

.instagram-item {
  display: flex;
  
}

/* Modal */
.modal-container {

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;

}

/* hacer visible el modal  */
.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-cart {
  width: 50rem;
  height: 30rem;
  background-color: rgb(255, 213, 242);
}

#cartTitle {
  margin: 5px 0;
  padding: 5px;
  color: rgb(0, 0, 0);
  position: relative;
  top: 10px;
  left: 360px;
}

#close {
  margin: 5px;
  position: relative;
  top: 10px;
  left: 750px;
}

.productInCart {
  color: black;
  background-color: grey;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 10px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}


.card {
  margin: 15px;
  padding: 0, 5px;
}

#product-container {
  display: grid;
  margin: 90px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  padding: 2px 12px;
    text-decoration: none;
    color: black;
    font-size:1rem;
    text-transform: uppercase;
}

.bg-alert {
  background-color: rgba(255, 192, 203, 0.548);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: beige;
  border: pink;
  color: black;
}

.titulo {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  font-family: fantasy;
  color: rgb(0, 0, 0);
}

.subtitulo {
  color: rgb(197, 58, 186);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}

.video {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

iframe {
  padding-bottom: 2rem;
  height: 300px;
  width: 600px;
}

.sale {
  padding-bottom: 50px;
}

h4 {
  text-align: center;
  font-size: 50px;
  color: rgb(248, 0, 0);
  font-family: $font-family;
}

img {
  max-width: 100%;
  display: block;
}


.item-tamaño {
  height: 300px;
}

.item-tamaño:hover {
  height: 400px;
  padding: 20px;
  transition: 3s;
  transform: translateY(5px);
}



.gift-card {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gift-card img {
  padding: 15px;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 2em;
}


footer {
  padding-top: 50px;
  width: 100%;
  color: black;
  background-color: rgb(255, 215, 244);
}

.grid-container-2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 5px;
}

.redes {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
}

.img-footer {
  display: flex;
  padding: 5px;
  height: 50px;
}

.locales {
  grid-column-start: 2;
  grid-row-start: 1;
}

.horarios {
  grid-column-start: 2;
}

.newsletter {
  grid-column-start: 3;
  grid-row-start: 1;
}

.btn-2 {

  font-size: 15px;
  border: none;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}

.parrafo-cuenta {
  font-family: $font-family;
  font-style: oblique;
  font-size: 40px;
}



form {
  display: flex;
  justify-content: center;
}

.cuenta {
  text-align: center;
  width: 300px;
}

.btn {
  margin-top: 2%;
  height: 40px;
  width: 80px;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}

.btn {
  color: black;
  margin-top: 2%;
  height: 40px;
  width: 80px;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}

.btn-close {
  height: 10px;
  color: white;
}